.dataTables_length {
	float: left;
}
.dataTables_filter {
	float: right;
}

#table-find-person > tbody > tr {
	cursor: pointer;
}
#table-choose-parameter > tbody > tr {
	cursor: pointer;
}
.pps .table-samples .param-item {
	background: inherit;
	border: none;
	height: 35px;
	padding: 0px;
	margin: 0px;
}
.pps .error-msg {
	margin-bottom: 10px;
	padding: 10px;
}

.ppsInProgress .table-samples .param-item {
	background: inherit;
	border: none;
	height: 35px;
	padding: 0px;
	margin: 0px;
}